<div class="main thread-show">
    <div class="container">
        <div class="back-buttons">
            <%= link_to("/thread/index")do %>
            <i class="fas fa-angle-left back-arrow fa-2x"></i>
            <p>æˆ»ã‚‹</p>
            <% end %>
        </div>
        <div class="thread-header">
            
            <h3><%= "ã‚¹ãƒ¬ãƒƒãƒ‰ä½œæˆè€…ï¼š#{@thread.user_name}" %></h3>
            <%= @thread.thread_name %>
        </div>
        
        <ul class="thread-show-buttons">
            <li>
                <%= link_to("/posts/#{@thread.id}/create")do %>
                    <input type="submit" value="ã“ã®ã‚¹ãƒ¬ãƒƒãƒ‰ã§æŠ•ç¨¿">
                <% end %>
            </li>
            <li>
                <% if @thread.user_name != "HOST" %>
                    <% if @current_user.id == @thread.user.id%>
                        <%= link_to("/thread/#{@thread.id}/image_edit")do %>
                            <input class="thread-image-edit-button" type="submit" value="ã‚¹ãƒ¬ãƒƒãƒ‰ç”»åƒã‚’ç·¨é›†ã§ãã¾ã™">
                        <% end %>
                    <% end %>
                <% end %>
            </li>
        </ul>
        
        <!-- ä¸¦ã³æ›¿ãˆã€€çµå±€æ–°ã—ã„viewã¨postsãƒ†ãƒ¼ãƒ–ãƒ«ã«like_countã‚«ãƒ©ãƒ è¿½åŠ ã—ã¡ã‚ƒã„ã¾ã—ãŸ -->
        <!-- ãƒžã‚¤ãƒšãƒ¼ã‚¸ã‹ã‚‰å¼•ã£å¼µã£ã¦ããŸã¾ã¾ã ã‹ã‚‰cssã¯ã¾ã ã„ã˜ã£ã¦ã¾ã›ã‚“ã€‚ã”ã‚ã‚“ãªã•ã„ðŸ™‡ -->
        <!-- like_sort.html.erbã§ç”»åƒã®ã†ãˆã«ã§ã¦ã‚‹ã„ã„ã­ã®æ•°ã¯é‚ªé­”ã ã£ãŸã‚‰æ¶ˆã—ã¦ãã ã•ã„â†“ -->
        <ul class="thread-tabs">
            <li>
                <%= link_to("æ–°ç€é †", "/thread/#{@thread.id}") %>
            </li>
            <li class="active">
                <%= link_to("ã„ã„ã­é †", "/thread/#{@thread.id}/like_sort") %>
            </li>
        </ul>
        
        <div class="thread-post-body">
            
            <!-- @postsã®å†…å®¹ã‚’postã«å…¥ã‚Œã¦ã™ã¹ã¦è¡¨ç¤ºã™ã‚‹ -->
            <% @posts.each do |post|%> 
            
            <%#
            <p><%= Like.where(post_id: post.id).count </p>ã€€<!-- ã„ã„ã­ã®æ•°ã‚’è¡¨ç¤ºã—ã¦ã‚‹ã®ã¯ã“ã®è¡Œã§ã™ -->
            %>
                <%= link_to("/posts/#{post.id}")do %>
                    <div class="thread-post">
                        <img src=" <%= "/thread_images/main_images/#{post.image_name}" %> "></img>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>