<!-- ãƒ¦ãƒ¼ã‚¶ã®å€‹äººãƒšãƒ¼ã‚¸ã®view -->

<div class="main user-show">
    <div class="container">
        <div class="user-show-body">
            
            <!-- ã‚¢ã‚¤ã‚³ãƒ³ç”»åƒã®è¡¨ç¤º -->
            <div class="user-icon">
                <img src="<%= "/user_images/#{@user.image_name}" %>">
            </div>
            
            <!-- ãƒ¦ãƒ¼ã‚¶ã®åå‰ã‚’è¡¨ç¤º -->
            <div class="user-name">
                <h2><%= @user.name %></h2>
            </div>
            <!-- ãƒ¦ãƒ¼ã‚¶ã®ãƒ¡ã‚¢ãƒ‰ã‚’è¡¨ç¤º -->
            <div class="user-email">
                <p><%= @user.email %></p>
            </div>
            
            <!-- ãƒ¦ãƒ¼ã‚¶æƒ…å ±ã®ç·¨é›†ãƒšãƒ¼ã‚¸ã¸ã®ãƒªãƒ³ã‚¯ -->
            <div class="user-show-button">
                <%= link_to("/users/#{@user.id}/edit") do %>
                    <input type="submit" value="ç·¨é›†">
                <% end %>
            </div>
            
            <ul class="user-tabs">
                <li class="active">
                    <%= link_to("æŠ•ç¨¿", "/users/#{@user.id}") %>
                </li>
                <li>
                    <%= link_to("ã„ã„ã­!", "/users/#{@user.id}/likes") %>
                </li>
            </ul>
            
            <!-- ðŸ’© -->
            <!-- ãƒ¦ãƒ¼ã‚¶ã®æŠ•ç¨¿ã‚’è¡¨ç¤º -->
            <div class="user-posts">
                <% @user.posts.each do |post| %>
                    <%= link_to("/posts/#{post.id}") do %>
                        <img src="<%="/thread_images/main_images/#{post.image_name}"%>">
                    <% end %>
                <% end %>
            </div>    
        </div>
    </div>
</div>