<div class="main">
    <div class="container">
        <div class="form-heading">
            <p><%= "#{@thread.thread_name}に投稿"%></p>
        </div>
        <div class="form">
        <div class="form-body">
            <% @post.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>
            
            <!-- activestorageを使うために置き換えた
                <%= form_tag("/posts/#{@thread.id}/new", multipart: true)do %>
                    <div>
                        <p>画像</p>
                        <input name="image" type="file">
                        <input type="submit" value="送信">
                    </div>
                <% end %>
            -->

            <%= form_with(model: @post, url: "/posts/#{@thread.id}/new", local: true, multipart: true) do |form| %>
                <div>
                    <p>画像</p>
                    <%= form.file_field :image, onchange: "Btnfunction()" %>
                    <%= form.submit value: "送信", id: "post_submit", disabled: true %>
                </div>
            <% end %>

            <!-- 送信ボタンのjavascript -->
            <script type="text/javascript">
                function Btnfunction(){
                    const btn = document.getElementById("post_submit");
                    btn.disabled = false;
                }
                
            </script>

        </div>
        </div>
    </div>
</div>